{% extends 'timelord/base.html' %}
{% load staticfiles %}

{% block title_block%}Timetable{% endblock %}

{% block top_bar%}
Welcome to your Timelord timetable, <strong>{{ username }}</strong>!<br />
{% endblock %}

{% block side_bar %}
	<ul>
		<li><a href="{% url 'logout' %}">Logout</a></li>
	</ul>
{% endblock %}

{% block body_block %}
<div>
	{% if user.is_authenticated %}
		<strong> <i class = "iname">{{ user.username }}</i>'s timetable will go here</strong><br />
	{% endif %}
	{% for i in days %}
	<p>{{ i }}</p>
	{% endfor %}
	<img src="{% static "images/logo.jpg" %}" alt="Timelord Logo" />
</div>
{% endblock %}